@charset "UTF-8";

:root {
  --cor0: #c5ebd6;
  --cor1: #83e1ad;
  --cor2: #3ddc84;
  --cor3: #2fa866;
  --cor4: #1a5c37;
  --cor5: #063d1e;

  --fonte01: idroid, cursive;
  --fonte02: bebas, cursive;
  --fonte03: Arial, Helvetica, sans-serif;
}

@font-face {
  font-family: idroid;
  src: url(../fonts/idroid.otf) format(opentype);
  font-weight: normal;
}

@font-face {
  font-family: bebas;
  src: url(../fonts/BebasNeue-Regular.ttf) format(truetype);
  font-weight: normal;
}

* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

body {
  background-color: var(--cor1);
  padding: 0;
  margin: 0;
}

header {
  background-image: linear-gradient(to bottom, var(--cor3), var(--cor5));
  color: white;
  height: 150px;
  margin: 0;
  padding: 0;
  box-shadow: 0px 0px 12px 2px rgba(0, 0, 0, 0.75);
}

header > h1 {
  font-family: var(--fonte02);
  font-size: 3em;
  color: white;
  text-align: center;
  margin: 0;
  padding: 10px;
}

header > p {
  max-width: 500px;
  text-align: center;
  margin: 0;
  margin: auto;
  font-size: 1.2em;
  padding: 10px;
}

nav {
  color: white;
  background-color: var(--cor5);
  margin: 0%;
  padding: 20px;
  box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.192);
  display: block;
}

nav a {
  margin-left: 10px;
  padding: 10px;
  color: var(--cor1);
  text-decoration: none;
  font-weight: bold;
}

main {
  min-width: 300px;
  max-width: 1000px;
  margin: auto;
  margin-bottom: 25px;
  padding: 30px;
  padding-bottom: 5px;
  background-color: rgb(217, 252, 228);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0px 0px 14px 2px rgba(0, 0, 0, 0.51);
}

main p {
  margin: 30px;
  line-height: 2em;
  font-size: 1em;
}

main img {
  width: 100%;
}

a {
  color: var(--cor3);
  text-decoration: none;
  font-weight: bolder;
}

footer {
  text-align: center;
  color: white;
  background-color: var(--cor5);
  padding: 10px;
}

h2 {
  font-family: idroid;
  background-image: linear-gradient(to left, #32ff8e31, #00ff77)
}

h1 {
  font-family: var(--fonte01);
}

p {
  text-align: justify;
  margin: 15px 0px;
}

strong {
  color: var(--cor2);
}

abbr {
  text-decoration: none;
}

.video {
  background-color: var(--cor5);
  margin: 0px -20px 30px -20px;
  padding: 20px;
  padding-bottom: 50%;
  position: relative;
}

.video > iframe {
  position: absolute;
  top: 5%;
  left: 5%;
  width: 90%;
  height: 90%;
}

h3 {
  color: white;
  background-color: var(--cor3);
  margin: 0;
  padding: 15px;
  border-radius: 3px;
}

#caixabaixo {
  background-color: var(--cor1);
  padding: 15px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  margin: 0;
  box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.575);
}

a {
  color: var(--cor2);
  text-decoration: none;
}

.pquena {
  max-width: 350px;
  width: 50%;
  display: block;
  margin: auto;
}


a:hover {
  background-color: var(--cor4);
  text-decoration: underlin;
  border-radius: 5px;
}


a.externo::after {
  content: '\1F517';
}